{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
.waterfall-container .title {
	margin-top: 5px;
	color:#666;
}

.waterfall-container .price {
	color: #f36;
	font-weight: bold;
	font-size:16px;
}

.waterfall-container .sales {
	float: right;
	margin-top: 2px;
}

.waterfall-container .sales_icon {
	background-image: url('{{MEDIA_URL}}icon/sales1.png');
	background-size: 100% 100%;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	float: left;
}

.wtfall-bar {
	border-bottom: solid 1px #ccc;
	margin-bottom: 13px;
	padding-bottom: 42px;
	height: 38px;
	font-weight: bold;
}

.wtfall-bar .title {
	font-size: 25px;
	float: left;
	margin-right:40px;
	color: #333;
}

.wtfall-bar .viewall {
	float: right;
	padding-top: 10px;
	text-decoration: none;
	color: #888;
}

.banner-off .get-now {
	margin-top: 15px;
}

{% endblock %}

{% block script_head %}
<link rel="stylesheet" href='{% static "css/waterfall.css" %}'>
{% endblock %}


{% block content %}
<div class="shoes-grid">
	{% if sliders %}
	<div class="wrap-in">
		<div class="wmuSlider example1 slide-grid">		 
			<div class="wmuSliderWrapper">
				{% for slider in sliders %}
				<article style="position: absolute; width: 100%; opacity: 0;">					
					<div class="banner-matter">
						<div class="col-md-5 banner-bag">
							<img class="img-responsive " src="{{ slider.get_image_url }}" alt=" " />
						</div>
						<div class="col-md-7 banner-off">
							<ul>
								{% if slider.header_text %}						
								<li><h2>{{ slider.header_text|safe }}</li>
								{% endif %}
								{% if slider.text %}
								<li><label>{{ slider.text|safe }}</label></li>
								{% endif %}
								<li class="get-now"><span class="on-get">GET NOW</span></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</article>
				{% endfor %}
			</div>
			<ul class="wmuSliderPagination">
				{% for slider in sliders %}
				<li><a href="#" class="">{{ forloop.counter }}</a></li>
				{% endfor %}
			</ul>
			<script src="{% static "js/jquery.wmuSlider.js" %}"></script>
			<script>$('.example1').wmuSlider();</script> 
		</div>
	</div>
	{% endif %}
	<!---->
	<div class="products">
	<div class="wtfall-bar">
				<span class="title">LATEST PRODUCTS</span>
				<a class="viewall" href="#">VIEW ALL >></a>
			</div>
		<div class="waterfall" id="container">
				<script type="text/x-handlebars-template" id="waterfall-tpl">
				{% verbatim %}
				{{#result}}
				    <div class="item">
				        <a href="{{url}}"><img src="{{image}}" width="{{width}}" height="{{height}}" /></a>
				        <div class="title">
				        	<a href="{{url}}">{{title}}</a>
				        </div>
				        <div class="attribution">
				        	<span class="price">${{price}}</span>
				        	<span class="sales"><div class="sales_icon"></div>{{sales}}</span>
				        </div>
				    </div>
				{{/result}}
				{% endverbatim %}
				</script>
			</div>		
	</div>
	<div class="clearfix">
	</div>
</div>
{% if sliders %}
<div class="sub-cate">
	<div class=" top-nav rsidebar span_1_of_left">
		<h3 class="cate">
			CATEGORIES
		</h3>
		<ul class="menu">
		<!-- 
			<li class="item1">
				<a href="#">
					Curabitur sapien
					<img class="arrow-img" src="{{MEDIA_URL}}icon/arrow1.png" alt="" />
				</a>
				<ul class="cute">
					<li class="subitem1">
						<a href="product.html">
							Cute Kittens
						</a>
					</li>
					<li class="subitem2">
						<a href="product.html">
							Strange Stuff
						</a>
					</li>
					<li class="subitem3">
						<a href="product.html">
							Automatic Fails
						</a>
					</li>
				</ul>
			</li>
			<li class="item2">
				<a href="#">
					Dignissim purus
					<img class="arrow-img " src="{{MEDIA_URL}}icon/arrow1.png" alt="" />
				</a>
				<ul class="cute">
					<li class="subitem1">
						<a href="product.html">
							Cute Kittens
						</a>
					</li>
					<li class="subitem2">
						<a href="product.html">
							Strange Stuff
						</a>
					</li>
					<li class="subitem3">
						<a href="product.html">
							Automatic Fails
						</a>
					</li>
				</ul>
			</li>
			<li class="item3">
				<a href="#">
					Ultrices id du
					<img class="arrow-img" src="{{MEDIA_URL}}icon/arrow1.png" alt="" />
				</a>
				<ul class="cute">
					<li class="subitem1">
						<a href="product.html">
							Cute Kittens
						</a>
					</li>
					<li class="subitem2">
						<a href="product.html">
							Strange Stuff
						</a>
					</li>
					<li class="subitem3">
						<a href="product.html">
							Automatic Fails
						</a>
					</li>
				</ul>
			</li>
			<li class="item4">
				<a href="#">
					Cras iacaus rhone
					<img class="arrow-img" src="{{MEDIA_URL}}icon/arrow1.png" alt="" />
				</a>
				<ul class="cute">
					<li class="subitem1">
						<a href="product.html">
							Cute Kittens
						</a>
					</li>
					<li class="subitem2">
						<a href="product.html">
							Strange Stuff
						</a>
					</li>
					<li class="subitem3">
						<a href="product.html">
							Automatic Fails
						</a>
					</li>
				</ul>
			</li>
			 -->
			<li>
				<ul class="kid-menu">
					{% for category in categories %}
					<li>
						<a href="product.html">
							{{category.title}}
						</a>
					</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	<!--initiate accordion-->
	<script type="text/javascript">
		$(function() {
			var menu_ul = $('.menu > li > ul'),
			menu_a = $('.menu > li > a');
			menu_ul.hide();
			menu_a.click(function(e) {
				e.preventDefault();
				if (!$(this).hasClass('active')) {
					menu_a.removeClass('active');
					menu_ul.filter(':visible').slideUp('normal');
					$(this).addClass('active').next().stop(true, true).slideDown('normal');
				} else {
					$(this).removeClass('active');
					$(this).next().stop(true, true).slideUp('normal');
				}
			});

		});
	</script>
</div>
{% endif %}
</div>
{% endblock %}

{% block script_body %}
<script src="{% static "js/handlebars.js" %}"></script>
<script src="{% static "js/waterfall.js" %}"></script>
{% endblock %}

{% block jquery %}
$('#container').waterfall({
    itemCls: 'item',
    colWidth: 255, 
    gutterWidth: 10,
    gutterHeight: 10,
    checkImagesLoaded: false,
    path: function(page) {
        return 'json/products/page/' + page + '/';
    }
});
{% endblock %}
