{% extends "products/waterfall_base.html" %}
{% load staticfiles %}

{% block sliders %}
{% if sliders %}
	<div class="wrap-in">
		<div class="wmuSlider example1 slide-grid">		 
			<div class="wmuSliderWrapper">
				{% for slider in sliders %}
				<article style="position: absolute; width: 100%; opacity: 0;">					
					<div class="banner-matter">
						<div class="col-md-5 banner-bag">
							<img class="img-responsive " src="{{ slider.get_image_url }}" alt=" " />
						</div>
						<div class="col-md-7 banner-off">
							<ul>
								{% if slider.header_text %}						
								<li><h2>{{ slider.header_text|safe }}</li>
								{% endif %}
								{% if slider.text %}
								<li><label>{{ slider.text|safe }}</label></li>
								{% endif %}
								<li class="get-now"><span class="on-get">GET NOW</span></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</article>
				{% endfor %}
			</div>
			<ul class="wmuSliderPagination">
				{% for slider in sliders %}
				<li><a href="#" class="">{{ forloop.counter }}</a></li>
				{% endfor %}
			</ul>
			<script src="{% static "js/jquery.wmuSlider.js" %}"></script>
			<script>$('.example1').wmuSlider();</script> 
		</div>
	</div>
{% endif %}
{% endblock %}
