{% extends "base.html" %}
{% load staticfiles %}

{% block script_head %}
<link rel="stylesheet" href='{% static "css/waterfall.css" %}'>
{% endblock %}

{% block content %}
<div class="shoes-grid">
	{% block sliders %}{% endblock %}
	<div class="products">
		<div class="wtfall-bar">
			<span class="title">{{category_title}}</span>
			<a class="viewall" href="#">VIEW ALL >></a>
		</div>
		<div class="waterfall" id="container">
			<script type="text/x-handlebars-template" id="waterfall-tpl">
			{% verbatim %}
			{{#result}}
				<div class="item">
				    <a href="{{url}}"><img src="{{image}}" width="{{width}}" height="{{height}}" /></a>
				    <div class="title">
				        <a href="{{url}}">{{title}}</a>
				    </div>
				    <div class="attribution">
				        <span class="price">${{price}}</span>
				        <span class="sales"><div class="sales_icon"></div>{{sales}}</span>
				    </div>
				</div>
			 {{/result}}
			 {% endverbatim %}
			 </script>
		</div>		
	</div>
	<div class="clearfix">
	</div>
</div>
{% if categories %}
{% include 'categorybar.html' %}
{% endif %}
</div>
{% endblock %}

{% block script_body %}
<script src="{% static "js/handlebars.js" %}"></script>
<script src="{% static "js/waterfall.js" %}"></script>
{% endblock %}

{% block jquery %}
$('#container').waterfall({
    itemCls: 'item',
    colWidth: 255, 
    gutterWidth: 10,
    gutterHeight: 10,
    checkImagesLoaded: false,
    maxPage: 100,
    callbacks: {
        loadingFinished: function($loading, isBeyondMaxPage) {
            if ( !isBeyondMaxPage ) {
                $loading.fadeOut();
            } else {
                $loading.hide();
                $('#page-navigation').show();
            }
        }
    },
    path: function(page) {
        return 'products/json/page/' + page + '/';
    }
});

$(window).scroll(function() {
	var cateBarMarginTop = $('.sub-cate').css('margin-top');
    var headerH = $('.header').outerHeight(true) + parseInt(cateBarMarginTop.replace("px", ""));
    var scrollTopVal = $(this).scrollTop();
    if (scrollTopVal > headerH) {
        $('.sub-cate').css({
            'position': 'fixed',
            'top': '-' + cateBarMarginTop
        });
    }
    else {
        $('.sub-cate').css({
            'position': 'static',
            'top': '-' + cateBarMarginTop
        });
    }
});
{% endblock %}
