<!--A Design by W3layouts Author: W3layout Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
	<head>
		<title>{% block head_title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		{% load staticfiles %}
		<!--theme-style-->
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
		<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
		rel='stylesheet' type='text/css'>
		<!--jquery lib-->
		<script src="{% static "js/jquery.min.js" %}">
		</script>
		<!--script-->
		<script type="application/x-javascript">
			addEventListener("load",
			function() {
				setTimeout(hideURLbar, 0);
			},
			false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--style-->
		<style>
			{% block styles %}{% endblock %}
		</style>
		{% block script_head %}{% endblock %}
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="bottom-header">
				{% include 'navbar.html' %}
			</div>
		</div>
		<!---->
		<div class="container">
			{% block content %} {% endblock %}
		</div>	
		
		<!---->
		{% include 'footer.html' %}
		<script>
         $(document).ready(function(){
         	{% block jquery %}{% endblock%}
         });       
      	</script>
		{% block script_body %}{% endblock %}
	</body>

</html>