<!-- Static navbar -->
<div class="container">
	<div class="header-bottom-left">
		<div class="logo">
			<a href="{% url 'home' %}">
				<img src="{{ MEDIA_URL }}icon/logo.png" alt=" " />
			</a>
		</div>
		<div class="search">
			<form role="search" action='/s/'>
				<input type="text"  name='q' placeholder="Search Product Title">
				<input type="submit" value="SEARCH">
			</form>
		</div>
		<div class="clearfix">
		</div>
	</div>
	<div class="header-bottom-right">		
		<div class="account">
			<a href="#">
				<span>
				</span>
				YOUR ACCOUNT
			</a>
		</div>
		<ul class="login">
			<li>
				<a href="{% url 'auth_login' %}">
					<span>
					</span>
					LOGIN
				</a>
			</li>
			|
			<li>
				<a href="register.html">
					SIGNUP
				</a>
			</li>
		</ul>
		<div class="cart">
			<a href="{% url 'cart' %}">
				<span>
				</span>
				CART
			</a>
		</div>
		<div class="clearfix">
		</div>
	</div>
	<div class="clearfix">
	</div>
</div>
